.contenier{
    height: 640px;
    width: 400px;
    margin: 0 auto;
    
    background: #AED8FF;

}

*{
    margin: 0;
    padding: 0;
}

.time{
    position: absolute;
    width: 291px;
    height: 55px;

    margin-top: 7px;
    margin-left: 29px;
}

.substrate{
    position: absolute;
    width: 244px;
    height: 31px;

    background: #4D94FF;

    margin-top: 16px;
    margin-left: 10px;

}

.substrate > p{
    position: absolute;
    width: 281px;
    height: 55px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;

    color: #000000;

    top: -15px;
    left: 10px;

}

.time_text{
    
    position: absolute;
    width: 310px;
    height: 144px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    top: 40px;

}

.sterilization{
    position: absolute;
    width: 291px;
    height: 55px;

    margin-top: 240px;
    margin-left: 29px;
}

.substrate2{
    position: absolute;
    width: 244px;
    height: 31px;

    background: #4D94FF;

    margin-left: 10px;

}

.substrate2> p{
    position: absolute;
    width: 281px;
    height: 55px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;

    color: #000000;

    top: -15px;
    left: 10px;

}

.sterilization_text{
    
    position: absolute;
    width: 290px;
    height: 144px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    top: 40px;

}

.materials{
    position: absolute;
    width: 291px;
    height: 55px;

    margin-top:420px;
    margin-left: 29px;
}


.substrate3{
    position: absolute;
    width: 244px;
    height: 31px;

    background: #4D94FF;

    margin-left: 10px;

}

.substrate3> p{
    position: absolute;
    width: 281px;
    height: 55px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 40px;

    color: #000000;

    top: -15px;
    left: 10px;

}

.materials_text{
    
    position: absolute;
    width: 310px;
    height: 144px;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;

    top: 40px;

}
